.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar-header{
  font-size: 18px;
  color: #fff;
  padding: 12px 15px 0 0;
}

.login-name{
  padding-top: 15px;
  color: #fff;
}
.login-name img{
  width: 18px;
  float: left;
}
.login-name span{
  padding-left: 5px;
}
.login-name span::after{
  content: '|';
  color: #9d9d9d;
  padding-left: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
